
        </div>

    </div>
    <script src="../backend/js/vendors/alpinejs.min.js" defer></script>
    <script src="../backend/js/vendors/chart.js"></script>
    <script src="../backend/js/vendors/moment.js"></script>
    <script src="../backend/js/vendors/chartjs-adapter-moment.js"></script>
    <script src="../backend/js/dashboard-charts.js"></script>
    <script src="../backend/js/vendors/flatpickr.js"></script>
    <script src="../backend/js/flatpickr-init.js"></script>

</body>

</html>