    <div class="page-container ">

      <div class="header ">
        <a href="#" class="btn-link toggle-sidebar d-lg-none  pg-icon btn-icon-link" data-toggle="sidebar">
      		menu</a>
        <div class="d-flex align-items-center">

          <div class="pull-left p-r-10 fs-14 d-lg-inline-block d-none m-l-20">
            <span class="semi-bold">David</span> <span class="text-color">Nest</span>
          </div>
          <div class="dropdown pull-right d-lg-block d-none">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="profile dropdown">
              <span class="thumbnail-wrapper d32 circular inline">
      					<img src="../backend/assets/img/profiles/avatar.jpg" alt="" data-src="../backend/assets/img/profiles/avatar.jpg"
      						data-src-retina="../backend/assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
      				</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
              <a href="#" class="dropdown-item"><span>Signed in as <br /><b>David Aunsberg</b></span></a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Your Profile</a>
              <a href="#" class="dropdown-item">Your Activity</a>
              <a href="#" class="dropdown-item">Your Archive</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Features</a>
              <a href="#" class="dropdown-item">Help</a>
              <a href="#" class="dropdown-item">Settings</a>
              <a href="#" class="dropdown-item">Logout</a>
              <div class="dropdown-divider"></div>
              <span class="dropdown-item fs-12 hint-text">Last edited by David<br />on Friday at 5:27PM</span>
            </div>
          </div>
          <!-- END User Info-->
          <a href="#" class="header-icon btn-icon-link m-l-10 sm-no-margin d-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
            <i class="pg-icon">menu_add</i>
          </a>
        </div>
      </div>

      <div class="page-content-wrapper ">
