    <nav class="page-sidebar" data-pages="sidebar">
      <div class="sidebar-header">
        <img src="../backend/assets/img/logo.png" alt="logo" class="brand" data-src="../backend/assets/img/logo.png" data-src-retina="../backend/assets/img/logo_2x.png" width="78" height="22">
      </div>
      <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
          <li class="m-t-10">
            <a href="#" class="detailed">
              <span class="title">Dashboard</span>
            </a>
            <span class="icon-thumbnail"><i data-feather="home"></i></span>
          </li>
          <li>
            <a href="javascript:;"><span class="title">Posts</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i data-feather="grid"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="#">Post</a>
              </li>
              <li class="">
                <a href="#">Tags</a>
              </li>
              <li class="">
                <a href="#">Category</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;"><span class="title">Pages</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i data-feather="layout"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="#">List Of Pages</a>
              </li>
              <li class="">
                <a href="#">Add New Pages</a>
              </li>
              
            </ul>
          </li>
          <li>
            <a href="#"><span class="title">Settings</span>
          </li>

          
        </ul>
        <div class="clearfix"></div>
      </div>
    </nav>